@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://rsms.me/inter/inter.css');

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Bodoni Moda', serif;

  --color-main-50: #fff1f2;
  --color-main-100: #fce5e7;
  --color-main-200: #f8b2b7;
  --color-main-300: #f17f88;
  --color-main-400: #ea4c58;
  --color-main-500: #b30c18;
  --color-main-600: #8f0913;
  --color-main-700: #6b070e;
  --color-main-800: #480509;
  --color-main-900: #240205;

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer components {
  .font-serif {
    font-family: 'Bodoni Moda', serif;
    font-variation-settings: 'opsz' 8;
  }

  .nav-scrolled {
    @apply fixed top-0 left-0 right-0 z-50 shadow-lg max-h-44;
    animation: slideDown 0.3s ease-out;
  }
}
